*~
*.err
*.log
._*
.cache
.fseventsd
.DocumentRevisions*
.DS_Store
.TemporaryItems
.Trashes
*.tgz
Thumbs.db

dist
docs/
!docs/release-process.md
node_modules
package-lock.json
__TREES__

tests/mocked
tests/coverage
tests/.tmp
